.note-edit {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.note-edit article {
  height: 100%;
}

.note-edit .main-input,
.note-edit .save {
  height: 3rem;
  font-size: 1.5rem;
}

.note-edit .save {
  background-color: rgb(68, 68, 68);
  color: #fff;
}

.note-edit .color-input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0px;
  width: 3rem;
  height: 3rem;
}

.input-wrapper .color-input {
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
}