.note-preview {
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 2rem;
  z-index: 4;
  pointer-events: all;
  
  display: flex;
  flex-direction: column;
}

.note-preview .close {
  cursor: pointer;
  border: 1px solid black;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0.4rem;
  font-size: 1rem;
  margin: 0px;
}

.note-preview .note-img-wrapper {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.note-preview .img-wrapper{
  margin-top: 0.5rem;
  height: 100%;
}

.note-preview img{
  width: 100%;
  height: 90%;
  object-fit: contain;
}


.note-preview .full-video-info {
  height: 60%;
}

.note-preview iframe {
  height: 100%;
  width: 100%;
}

.note-preview .video-container {
  margin-top: 0.5rem;
  height: 100%;
  width: 100%;
}

.note-preview .edit-btn {
  margin-bottom: 0px;
}

.note-preview a,
.note-preview .delete-btn {
  background-color: rgb(68, 68, 68);
  color: white;
  border-radius: 0.4rem;
  font-size: 1.9rem;
}

.note-preview a {
  padding: 0.4rem 20%;
  line-height: 3.5rem;
}

.note-preview .delete-btn { 
  background-color: red;
  margin-top: 5px;
  padding: 0.4rem 20%;
}