.email-countiner{
    display: flex;
    gap:2rem;
}
.email-Searh{
    flex: 1;
}
.email-app{
    /* max-width: 1600px; */
    margin: auto;
    
}

@media (max-width: 650px) {
    .email-countiner{
       flex-direction: column;
       gap: 0;
    }
   
}