
li .email-preview{
    border: 1px solid rgb(189, 180, 180);
    padding: 3px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-around;
     padding: 0.5em;
}
li .email-preview:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: inset 1px 1px 5px black;
}
.email-read{
    background-color: lightgray;
}
.sign-mail {
    border-radius: 50%;
    width: 3.125rem;
   
}
.sign-mail h1{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.email-preview button{
    border:none;
    background: none;
}
.email-preview button :hover{
    border-radius: 50%;
    background-color: rgb(151, 150, 148);
    transition: .5s;
    
    padding: 1em;
    text-align: center;
}
.email-preview a{
    display: contents;
}