.email-filter
{
    display: flex;
    justify-content: center;
    padding: 1em;
    margin:   0.5em auto 0.5em  ;
    text-align: center;
    background-color: #f0f5f9;
    border-radius: 2em;
    width: 50%;

}
.email-filter input{
    border: none;
    background-color: #f0f5f9;
}
.email-filter select{
    border: none;
    background-color: #f0f5f9;
    margin-left: 1em;
}
.email-search{
    width: 50%;
}
@media (max-width: 1026px){
    .email-filter{
        width: 100vw;
    }
    .email-filter>*{
        width: 80%;
    }


}