.email-deatils-mini{
    display:flex;
    flex-direction: column;
  /* justify-content: center; */

  background-color: white;
}
.sending-details{
    display: flex;
    align-items: baseline;
    
}
h1{
    font-size: x-large;
}
p{
    color: rgb(112, 107, 107);
}