.email-compose {
  display: flex;
  flex-direction: column;
}

.email-compose-continer h3 {
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 1rem;
  margin: auto;
}

.email-compose-continer {
  /* right: 50%; */
  border: 2px solid;
  position: absolute;
  bottom: 0;
  top: 56%;
  right: 5%;
  border-radius: 10px;
  position: fixed;
  background-color: white;
  z-index: 3;
}

.email-compose-continer .email-compose-btn .btn-close-form {
  color: rgb(68, 68, 68);
  width: 2rem;
  border: 0;
  border-radius: 0;
  font-weight: bold;
  /* border: 1px solid; */
}



 .send-mail-btn {
  background-color: lightskyblue;
  color: rgb(68, 68, 68);
  width: 5rem;
  /* border: 1px solid; */
  border-radius: 0;
  font-weight: bold;
  align-items: center;
  padding: 0.5em;
}

.email-compose-continer .email-compose-btn {
  color: rgb(68, 68, 68);
  display: flex;
  position: absolute;
 
 bottom: 0;
  gap: 20px;
  right: 0;
}
.email-compose-btn .btn-emoji{
  width: 2rem;
  /* border: 1px solid black; */
  border-radius: 0;
  border: none;
}
.email-compose-btn .btn-add-pic{
  width: 2rem;
  border-radius: 0;
  border: none;
}

@media (max-width: 650px) {
  .email-compose-continer {
    position: fixed;
    left: 41%;
    right: 10%;
   
  }
 
}