.email-compose {
    display: flex;
    flex-direction: column;
   
}

.email-compose-continer .title-form .btn-close-form{
    top: 0;
    right: 0;
    border: none;
    background: none;
  
  }
  .title-form{
    display: flex;
    background-color: rgb(68,68,68);
    color: white;
    justify-content: space-between;
  }
  .email-compose-continer{
  
    border: 2px solid;
  }
  .email-compose-continer :last-child{
      margin:auto;
      color:black;
  }