.email-deatils-mini{
    display:flex;
    flex-direction: column;
  /* justify-content: center; */
}
.sending-details{
    display: flex;
    align-items: baseline;
    
}
.sending-details h1{
    font-size: x-large;
}
.sending-details p{
    color: rgb(112, 107, 107);
}