 li .email-preview {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    border: 1px solid #e1e0e0;
    align-items: center;
   position: relative;
    max-height: 100vh;
    border-left: 1px solid #616060;
  
    transition: max-height .8s;
}
/* .email-preview li:hover{
    cursor: pointer;
} */
.email-read{
    background-color: lightgray;
}
.sign-mail {
    border-radius: 50%;
    width: 3.125rem;
   
}
.sign-mail h1{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.email-preview button{
    border:none;
    background: none;
}
.email-preview button :hover{
    border-radius: 50%;
    background-color: rgb(151, 150, 148);
    
    padding: 1em;
    text-align: center;
}
.email-preview a{
    display: contents;
}